{% extends 'base.html' %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'base' %}">Вернуться на главную</a></li>
<!--    <li class="breadcrumb-item"><a href="#">Library</a></li>-->
<!--    <li class="breadcrumb-item active" aria-current="page">Data</li>-->
  </ol>
</nav>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
       user-scalable=no, initial-scale=1.0, maximum-scale=1.0,
       minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="default-style.css">
    <style>
        .flexbox {
            display: flex;
            width: 1400px;
            flex-direction: row;
        }
    </style>
    <style>
        .flexbox_item {
            margin: 0 40px;
            margin-bottom: 30px;
            padding: 0 20px;
        }
    </style>
</head>
<body>
    <div class="flexbox">
        <div class="flexbox_item"> <strong>БАЗОВЫЙ</strong><br>
            <strong>недорогой план от 26 900 руб.</strong><br>
            <br>
Эвакуация - бесплатно<br>
Сан. пакет - 2 500 р.<br>
Подготовка тела - 2 500 р.<br>
Гроб бархат - 4 000 р.<br>
Набор в гроб - 1 050 р.<br>
Доставка предметов ритуала - 1 500 р.<br>
Авто катафалк «ГАЗель» - 6 000 р.<br>
Траурная бригада - 3 000 р.<br>
Временный памятник - 850 р.<br>
Захоронение (гос. пошлина) - 5 502 р.<br>
</div>

        <div class="flexbox_item"><strong>РАСШИРЕННЫЙ</strong><br>
            <strong>основной план от 41 500 руб.</strong><br>
            <br>
Эвакуация - бесплатно<br>
Сан. пакет - 2 500 р.<br>
Подготовка тела - 2 500 р.<br>
Гроб «Жатка» - 6 000 р.<br>
Набор в гроб парча - 2 000 р.<br>
Доставка предметов ритуала - 1 500 р.<br>
Авто катафалк «Ford Transit» - 8 000 р.<br>
Траурная бригада - 4 500 р.<br>
Прощальный зал - 3 000 р.<br>
Венок 110 см - 2 000 р.<br>
Крест деревянный - 3 500 р.<br>
Табличка на крест - 500 р.<br>
Захоронение (гос. пошлина) - 5 502 р.<br>
        </div>


        <div class="flexbox_item"><strong>ОСОБЫЙ</strong><br>
            <strong>премиальный план от 74 500 руб.</strong><br>
            <br>
Эвакуация - бесплатно<br>
Сан. пакет - 2 500 р.<br>
Подготовка тела - 2 500 р.<br>
Гроб элитный - 25 000 р.<br>
Набор в гроб атласный - 3 000 р.<br>
Доставка предметов ритуала - 1 500 р.<br>
Авто катафалк «Ford Transit» - 8 000 р.<br>
Доп. автобус для провожающих - 6 000 р.<br>
Траурная бригада - 6 000 р.<br>
Прощальный зал - 3 000 р.<br>
Венок 140 см - 3 500 р.<br>
Крест резной - 7 500 р.<br>
Табличка на крест - 500 р.<br>
Захоронение (гос. пошлина) - 5 502 р.<br>
       </div>
    </div>
<img src="https://sun9-24.userapi.com/impg/06t8b7JYSkT5qxN8UUxvQreTSe40CTzuJ7N8qw/gNqdaqj8Vwc.jpg?size=545x130&quality=96&sign=7eddbfcf8d6ee08fbe44e26d9a427ec5&type=album" class="img-fluid">
</body>

<!--    <div class="col-md-20">-->
<!--&lt;!&ndash;        <img src="{{ product.image.url }}" class="img-fluid">&ndash;&gt;-->
<!--        <img src="https://sun9-76.userapi.com/impg/PGPVYqWEuq4zm4vq_uICO-YtFQhU4WRiOzf2QA/16DP7yfAqTE.jpg?size=487x371&quality=96&sign=17826d1bcd3b31058307cbfb3c1b6121&type=album" class="img-fluid">-->
<!--        <img src="https://sun9-71.userapi.com/impg/kb8B-95fwaPuxVY6_Shw5VaKyKVDLwgpauSb-Q/yQtmuJXJk5U.jpg?size=788x445&quality=96&sign=17691075995209d5b8a445186f1fe975&type=album" class="img-fluid">-->
<!--    </div>-->
<!--</div>-->

<br>
<br>

<div class="flexbox">

        <div class="flexbox_item"> <strong>КРЕМАЦИЯ</strong><br>
            <br>
<strong>Кремация, организация кремации в Новосибирске<br>
Цена от 29000 руб.<br>
Звоните 8(923)117-01-01, работаем без выходных.</strong><br>
<br>
СТОИМОСТЬ БАЗОВОГО ЗАКАЗА<br>
Услуги Новосибирского крематория:<br>
	Базовый заказ включает также пластиковую урну с капсулой для праха (при размере одежды усопшего до 56-го и весе до 90 кг) - 13 000 руб<br>
<br>
	Ритуальное агентство «Вечность» предоставляет:<br>
	Гроб деревянный бархатный	от 4 000 руб<br>
	Похоронный комплект	от 1 000 руб<br>
	Авто катафалк	от 5 000 руб<br>
	Оформление всех документов	2 000 руб<br>
	Бригада на вынос гроба	от 2 500 руб<br>
	Доставка ритуальных принадлежностей по г.Новосибирску	1 500 руб<br>
	<br>
	<strong>Кремация</strong> – разновидность захоронения, пользующаяся популярностью у населения 21 века.
 	Процесс представляет собой сжигание тела под воздействием высоких температур.
	Сжигание не противоречит православным канонам. Перед проведением процедуры покойный может быть отпет священником согласно церковным традициям.
 	Похоронное агентство «Вечность» предоставляет ритуальные услуги в Новосибирске с 2002 года и является парнёром крематория с момента его постройки.<br>
<br>
    <strong>Преимущества и особенности</strong><br>
 Сжигания тела проводит Новосибирский крематорий. Труп поступает полностью подготовленный к сожжению. Венки и другие ритуальные атрибуты выставляют в Аллее памяти.
 С покойным можно положить личные вещи, которые поддаются горению. Спиртные напитки или мобильные устройства недопустимы. Перед сожжением драгоценности передаются родственникам.
<br>
            <br>
 Процедура занимает 2-3 часа. После этого крематорий выдаёт урну с прахом родственникам или их представителю.
 Заказчик вправе распоряжаться прахом усопшего на свое усмотрение – развеять, захоронить на земельном участке или поместить на стене колумбария.
 Кремация, как вид захоронения, обходится дешевле, кроме того позволяет создать единое семейное захоронение.
<strong>Звоните 8(923)117-01-01, работаем без выходных.</strong><br>

<br>
 Новосибирский крематорий работает с 2003 года. Мы сотрудничаем с крематорием с момента основания и агент нашей похоронной службы сможет взять на себя организацию всей процедуры.
 Наше ритуальное агентство предоставляет:<br>
<br>
 -Выбор катафалка для транспортировки тела;<br>
 -Покупка ритуальных товаров;<br>
 -Бальзамирование тела (при необходимости);<br>
 -Подготовка тела к сожжению;<br>
 -Организация прощальной церемонии;<br>
 -Доставка урны заказчику.<br>
 Ритуальный агент сможет уладить организационные вопросы и оперативно решить любые проблемы.<br>
 Наш многолетний опыт дает нам возможность успешно защищать права клиента и предоставлять высокий результат своей работы.<br>
        </div>

{% endblock content %}
