{% extends 'base.html' %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'base' %}">Вернуться на главную</a></li>
<!--    <li class="breadcrumb-item"><a href="#">Library</a></li>-->
<!--    <li class="breadcrumb-item active" aria-current="page">Data</li>-->
  </ol>
</nav>



<strong>Ритуальные товары <br></strong>
- Гроб бархат	от 4 000 pуб. <br>
- Гроб полированный	от 3 500 pуб.<br>
- Гроб элитный	от 23 000 pуб. <br>
- Крест сосоновый малый	2 000 pуб. <br>
- Крест сосновый большой	от 2 500 pуб. <br>
- Крест дубовый резной	от 3 500 pуб.<br>
<br>
<strong>Транспортные услуги<br></strong>
- Авто катафалк (проведение похорон)	от 6 000 pуб.<br>
- Пассажирский автобус для провожающих (маршрут дом/морг - кладбище - кафе/дом)	от 5 000 pуб.<br>
- Доставка ритуалных принадлежностей по Новосибирску	от 1 500 руб.<br>
- Груз 200 за пределами г.Новосибирска	от 20 руб/км<br>
<br>
<strong>Услуги рабочих ритуальной службы<br></strong>
- Бригада по проведению похорон (стандартный гроб)	4 500 руб.<br>
- Бригада по проведению похорон (нестандартный гроб)	6 000 руб.<br>
<br>
<strong>Санитарные услуги<br></strong>
- Подготовка тела к погребению (омыть, одеть, уложить в гроб)	от 3 500 pуб.<br>
- Бальзамирование	от 5 000 pуб.<br>


{% endblock content %}