{% extends 'base.html' %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'base' %}">Вернуться на главную</a></li>
<!--    <li class="breadcrumb-item"><a href="#">Library</a></li>-->
<!--    <li class="breadcrumb-item active" aria-current="page">Data</li>-->
  </ol>
</nav>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
       user-scalable=no, initial-scale=1.0, maximum-scale=1.0,
       minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="default-style.css">
    <style>
        .flexbox {
            display: flex;
            width: 1400px;
            flex-direction: row;
        }
    </style>
    <style>
        .flexbox_item {
            height: 1950px;
            margin-bottom: 40px;

        }
    </style>
</head>
<body>

<strong>Вызов ритуального агента в Новосибирске<br></strong>
<br>
<br>
<strong>ВЫЕЗД И КОНСУЛЬТАЦИЯ РИТУАЛЬНОГО АГЕНТА КРУГЛОСУТОЧНО И ВСЕГДА БЕСПЛАТНО</strong>
<br>
Ритуальный агент – специалист, который знает все особенности похоронного дела. Его обязанность представлять интересы близких покойного в государственных
и иных учреждениях. Если вы воспользуетесь услугами похоронного агента, то вы сможете избежать мошеннических действий и лишних трат, стресса в очередях за
документами.<br>
<br>
Агенты бюро «Вечность» – профессионалы, которые много лет работают в похоронном деле, они знают все «подводные камни».<br>
Вызвать нашего специалиста вы можете ежедневно в любое время.<br>
<br>
Что входит в перечень услуг похоронного агента<br>
Ритуальный агент – менеджер, который является представителем похоронного бюро, в его обязанности входит организация похорон. Кроме того он оказывает полную информационную поддержку близким умершего.<br>
<br>
<strong>Бесплатные:</strong><br>
- выезды и консультации; <br>
    - помощь в перевозке покойного в морг;<br>
 - содействие в выборе и оформлении места для захоронения;<br>
- содействие во время выбора ритуальной продукции;<br>
- составление плана похорон совместно с близкими.<br>
<br>
<strong>Платные:</strong><br>
-сбор всех документов и разрешений, которые требуются для похорон, перевозки груза 200, эксгумации.<br>
-взаимодействие с работниками морга и заказ у них услуг;<br>
-оформление или помощь в приобретении места для захоронения;<br>
-решение всех организационных вопросов, которые связаны с поминальной трапезой и отпеванием.<br>
-Ритуальный агент похоронного бюро «Вечность»<br>
<br>
Вы можете заказать ритуальные услуги, но не пользоваться платной помощью агента, в любом случае для вас его консультации будут бесплатными.<br>
Достойные похороны – наша обязанность.<br>
    <br>
    <br>
    <br>

   <img src="https://sun9-24.userapi.com/impg/06t8b7JYSkT5qxN8UUxvQreTSe40CTzuJ7N8qw/gNqdaqj8Vwc.jpg?size=545x130&quality=96&sign=7eddbfcf8d6ee08fbe44e26d9a427ec5&type=album" class="img-fluid">

    <br>
    <br>
    <br>

<strong>Перевозка тела в морг</strong><br>
            <strong>Эвакуация тела в морг в Новосибирске 8(923)117-01-01 (круглосуточно).</strong><br>
            <br>
          При заключении договора на оказание ритуальных услуг транспортировка в морг бесплатно.<br>
<br>
Транспортировка тела в морг<br>
Смерть близкого человека – шок, он приводит часто людей в растерянное состояние.<br>
Из-за горя и растерянности люди становятся жертвами мошенников, которые пользуются сложившейся ситуацией.<br>
Не дайте себя обмануть, обращайтесь за помощью в официальные ритуальные агентства.<br>
<br>
<strong>Важно знать:</strong> тело можно оставить дома и не отправлять в морг, если умерший наблюдался у врача в течение последних трех месяцев<br>
и в истории болезни есть записи. В этом случае достаточно попросить справку о смерти у терапевта.<br>
Покойного направляют в морг обязательно, если смерть была насильственной или настигла на улице.<br>
<br>
<strong>Преимущества обращения в похоронное бюро.</strong><br>
Государственные учреждения, относящиеся к похоронному делу, обязаны организовать перевозку покойного в морг бесплатно.<br>
Но большой минус – скорость подачи машины, иногда близкие ждут несколько часов.<br>
Наш спец. автомобиль и бригада прибудут в адрес в течении 30 минут. Сотрудники отнесутся к вам с пониманием и уважением к телу усопшего.<br>
<br>
Ритуальные услуги в похоронном бюро «Новосибирск Ритуал»<br>
Похоронное бюро «Новосибирск Ритуал» – помощь в организации и проведении похорон. Наши агенты помогут со сбором всех нужных документов,<br>
выбором места для захоронения, помогут организовать транспортировку груза 200, перезахоронение.<br>
Мы предоставляем ритуальные услуги в Новосибирске с 2002 года, перечень наших услуг представлен на сайте.<br>
<br>
<strong>Звоните в любое время 8(923)117-01-01. Оператор проконсультирует вас о наших услугах.</strong>
<br>
    <br>
       <br>

<img src="https://sun9-24.userapi.com/impg/06t8b7JYSkT5qxN8UUxvQreTSe40CTzuJ7N8qw/gNqdaqj8Vwc.jpg?size=545x130&quality=96&sign=7eddbfcf8d6ee08fbe44e26d9a427ec5&type=album" class="img-fluid">
  <br>
    <br>
          <br>
<strong>Груз 200</strong><br>
            Встреча и отправка тела в Новосибирске, груз 200<br>
По всем вопросам звоните на городской номер в Новосибирске <strong>8(923)117-01-01. Работаем без выходных.</strong><br>
            <br>

Иногда происходит так, что человека настигает смерть в другом городе или в другой стране. Иногда покойный при жизни изъявляет желание,<br>
чтобы его похоронили в определенном, значимом для него, месте. В таких ситуациях нужно будет транспортировать тело.<br>
Ритуальное бюро «Новосибирск Ритуал» готово оказать вам содействие и подготовить перевозку груза 200 в автокатафалке, поездом или самолетом.<br>
Также мы сможем организовать отправку и встречу тела усопшего в Новосибирске. Мы предоставляем ритуальные услуги в Новосибирске с 2002 года<br>
и обладаем необходимым опытом и компетенцией.<br>
<br>
	<strong>ПРАЙС ЛИСТ НА УСЛУГИ ТРАНСПОРТИРОВКЕ ТЕЛА:</strong><br>
-	Цинковый вкладыш в гроб	от 16 000 руб.<br>
-	Авто катафалк «Ford Transit»	от 20 руб/км<br>
-	Железная дорога, самолёт - индивидуально<br>
<br>
 <strong>Документы для перевозки тела.</strong><br>
Все документы, которые потребуются для перевозки усопшего в другой город России или за границу, соберет ритуальный агент:<br>
 - 2 свидетельства о смерти на русском и иностранном языках;<br>
 - справку о невложении;<br>
 - разрешение-справка СЭС;<br>
 - разрешение принимающей стороны.<br>
            <br>
Документы проходят обязательную проверку в аэропорту, корректность заполнения обязательна. Наш агент имеет опыт для сбора и проверки документации.<br>
<br>
Перевозка груза 200 похоронным бюро «Новосибирск Ритуал»<br>
Для транспортировки до 2000 километров предлагаем воспользоваться автокатафалком, который оборудован для транспортировки груза 200.<br>
Мы можем доставить на оборудованном автокатафалке гроб в аэропорт или на ж/д станцию.<br>

<br>
<img src="https://sun9-24.userapi.com/impg/06t8b7JYSkT5qxN8UUxvQreTSe40CTzuJ7N8qw/gNqdaqj8Vwc.jpg?size=545x130&quality=96&sign=7eddbfcf8d6ee08fbe44e26d9a427ec5&type=album" class="img-fluid">
<br>
<br>

 <strong>Авто катафалк</strong><br>
              <strong>Цена от 6000 руб.<br>
Звоните 8(923)117-01-01. Работаем без выходных.</strong><br>
<br>
<br>
              Ритуальный транспорт<br>
Катафалк – похоронный автомобиль, который применяется для перевозки трупа в морг или к месту, где будет захоронен покойный.<br>
Без катафалка похороны провести практически невозможно. В похоронном агентстве «Новосибирск Ритуал» вы можете заказать ритуальный транспорт<br>
любого класса. В ритуальном бюро «Новосибирск Ритуал» вы можете сделать заказ как недорогой авто катафалка так и машины премиум-класса (Кадилак).<br>
<br>
	<strong>ЦЕНЫ НА УСЛУГИ РИТУАЛЬНОГО ТРАНСПОРТА:</strong><br>

-	Авто катафалк (проведение похорон)	от 6 000 pуб.<br>
-	Доставка ритуальных принадлежностей по г.Новосибирск	1 500 руб<br>
-	Авто катафалк за пределами г.Новосибирска	от 25 руб/км<br>
<br>
Катафалк от похоронного бюро «Вечность»<br>
Мы предлагаем вам:<br>
<br>
Газель Некст, с помостом для гроба, плюс 6 или 8 посадочных мест для провожающих;<br>
микроавтобус (Форд или Мерседес), который рассчитан на 16-18 посадочных мест;<br>
автобус для перевозки провожающих на 26 или 34 посадочных места;<br>
премиум-катафалки – Мерседес или Кадилак (заказ за 2 дня до похорон).<br>
Похоронные автомобили оборудованы помостом для гроба, а также местом для размещения ритуальных атрибутов.<br>
<br>
При необходимости предоставляется похоронной бригада, которая будет помещать и вынимать гроб из машины у храма, на кладбище,<br>
в других местах по требованию. Работники похоронной бригады помогут установить гроб у могилы для прощания перед погребением.<br>
Кроме того вы можите приобрести у нас все похоронные принадлежности: крест, гроб, венки, одежду для усопших, заказать памятник или ограду.<br>
Мы готовы помочь вам с организацией поминальной трапезы, уходом за могилой и все другие услуги, связанные с организацией похорон.<br>
<br>
Стоимость ритуального транспорта в Новосибирске
Стоимость напрямую зависит от вида выбранного катафалка, срока его использования, количества мест, в которые необходимо заехать.<br>
Мы держим цены низком уровне, т.к. ритуальный транспорт – собственность похоронного агентства «Новосибирск Ритуал».
Т.о. мы не оплачиваем комиссию арендодателям.

              <br>
              <br>
              <br>
<img src="https://sun9-24.userapi.com/impg/06t8b7JYSkT5qxN8UUxvQreTSe40CTzuJ7N8qw/gNqdaqj8Vwc.jpg?size=545x130&quality=96&sign=7eddbfcf8d6ee08fbe44e26d9a427ec5&type=album" class="img-fluid">
              <br>
              <br>
              <br>
 <strong>Подготовка тела к погребению<br>

Цена от 3500 руб.<br>
Для вызова специалиста звоните 8(923)117-01-01. Мы работаем на дому и в морге. Телефон круглосуточный.</strong><br>
<br>
Бальзамирование тела<br>
Отсутствие возможности оперативно похоронить близкого человека требует кардинальных мер по сохранению его вида до момента захоронения.<br>
Влажность и неправильная температура ускоряют процесс разложения тканей, что является причиной появления неприятного запаха.<br>
Бальзамирование – процедура, позволяющая сохранить эстетичный вид покойного, без разложения тканей и трупного запаха.<br>
<br>
Похоронное агентство «Вечность» предоставляет ритуальные услуги в Новосибирске и проводит все процедуры с соблюдением санитарно-гигиеничных
правил и норм закона.
<br>
	<strong>CТОИМОСТЬ ОТДЕЛЬНЫХ САНИТАРНЫХ УСЛУГ:</strong><br>
-	Подготовка тела к погребению (омыть, одеть, уложить в гроб)	от 3 500 pуб.<br>
-	Бальзамирование	                                                от 5 000 pуб.<br>
<br>
Особенности процедуры<br>
Сама процедура представляет собой обработку тканей трупа специальными спиртами и кислотами в состав которых входит формалин.<br>
Формалин является основным компонентом при бальзамировании. Он препятствует разрушению тела и вводится в мягкие ткани и крупные сосуды трупа.<br>
Консервация тела длится от 2-4 часов и зависит от состояния трупа и веса усопшего. Для максимального эффекта мы советуем проводить процедуру
в течение 12 часов с момента смерти.<br>
<br>
Дополнительно наш бальзаматор сможет нанести покойному посмертный грим, чем обеспечит ему естественный вид на похоронах и сохранит прижизненный облик,
устранив кожные дефекты или раны, нанесенные посмертно.<br>
<br>
Заказать бальзамирование в Новосибирске<br>
Ритуальная служба «Вечность» работает в Новосибирске длительное время. При консервировании тела мы применяем передовые технологии,
многолетний опыт и современные инструменты. Индивидуальная работа с каждым клиентом дает нам возможность выполнять свои обязанности качественно
и быстро. При заказе подготовке тела к захоронению на дому, заказчик имеет возможность лично присутствовать на процедуре и самостоятельно наблюдать
за работой специалиста.
<br>
<br>
  <br>
 <img src="https://sun9-24.userapi.com/impg/06t8b7JYSkT5qxN8UUxvQreTSe40CTzuJ7N8qw/gNqdaqj8Vwc.jpg?size=545x130&quality=96&sign=7eddbfcf8d6ee08fbe44e26d9a427ec5&type=album" class="img-fluid">
<br>
  <br>
  <br>

 <strong>Перезахоронение праха, эксгумация<br>
  Цена от 35000 руб.
Мы готовы ответить на все вопросы по телефону 8(923)117-01-01.</strong>
<br>
  <br>
  <br>
Эксгумация и перезахоронение<br>
Эксгумация – излечение останков трупа с земли для повторных лабораторных исследований или перезахоронения в другом месте.<br>
Перезахоронение дает возможность упокоить тело близкого человека на его родине или совместно с другими умершими членами семьи.<br>
Эксгумация проводиться с инициативы родственников усопшего и разрешения органов власти.<br>
<br>
Похоронное бюро «Новосибирск Ритуал» обеспечит эксгумацию тела с соблюдением норм и правил закона. Агент сможет оперативно собрать нужный пакет документов,
организует процедуру эксгумации, лично проконтролирует и доставит останки покойного к новому месту захоронения.<br>
<br>
Что нужно для проведения перезахоронения:<br>
<br>

- паспорт родственника усопшего, который желает перезахоронить тело; <br>
  - какой-либо документ, свидетельствующий о родстве с покойным;<br>
- свидетельство о смерти;<br>
 - документ, указывающий на наличие места для перезахоронения;<br>
- справка от администрации кладбища на эксгумацию;<br>
- разрешение с СЭС на извлечение и перенос останков;<br>
- письменное согласие от прокуратуры и полиции;<br>
- паспорт нового места захоронения.<br>
  <br>
  <br>
<strong>Перезахоронение тела может быть невозможным если:</strong>
<br>
С момента наступления смерти прошло меньше года.<br>
Останки трупа имеют инфекцию, которая может распространиться в случае его извлечения.<br>
Похоронное агентство «Вечность» – организация эксгумации тела в Новосибирске<br>
Сотрудники нашего похоронного агентства являются высококвалифицированными специалистами в области похоронного дела.<br>
Наш ритуальный агент сможет предоставить заказчику нужный результат работы в минимальные сроки. Эксгумация и перезахоронение останков может быть выполнено
без присутствия клиента по его доверенности. Наш опыт и навыки позволяют нам справляться с задачами любой сложности.<br>
  <br>
  <br>
  <br>
   <img src="https://sun9-24.userapi.com/impg/06t8b7JYSkT5qxN8UUxvQreTSe40CTzuJ7N8qw/gNqdaqj8Vwc.jpg?size=545x130&quality=96&sign=7eddbfcf8d6ee08fbe44e26d9a427ec5&type=album" class="img-fluid">
<br>
  <br>
  <br>


 <strong>Оформление документов для погребения<br>Цена от 2000 руб.</strong>
  <br>

Для того, чтобы организовать похороны, перевезти груз 200 или произвести перезахоронение требуются определенные документы.<br>
Справки, разрешения, свидетельства выдаются в разных организациях, например, для эксгумации необходимо разрешение полиции.<br>
Близкие покойного часто не знают в какую инстанцию обращаться, а обратившись тратят время в очередях.<br>
Похоронное агентство «Вечность» предлагает вам помощь специалистов, которые отстоят за вас очередь,
получат необходимые разрешения и справки у сотрудников организаций.<br>
<br>
Почему стоит воспользоваться услугами ритуального агента
Не всегда оформление необходимых документов проходит гладко, иногда общение с представителями ЗАГСа, полиции, СЭС бывает напряженным.<br>
К сожалению, некоторые из сотрудников перечисленных организаций могут обмануть вас и взять дополнительные деньги.<br>
Похоронный агент знает все правила и временные рамки, согласно которым выдаются документы.<br>
Работа представителя похоронного бюро – чистая экономия средств и времени, залог спокойствия.<br>
<br>
	Ситуации и виды документов<br>
- похороны или кремация <br>- свидетельство и справка о смерти.<br>
- если в следствие смерти производилось уголовное расследование, то потребуется разрешение от внутренних органов для проведения кремации;<br>
- груз 200<br> - свидетельство и справка о смерти, справка об отсутствии вложения, разрешение СЭС.<br>
- при транспортировке груза 200 в другую страну необходимы разрешение принимающей страны и свидетельство о смерти на иностранном языке;<br>
- перезахоронение <br>- разрешающий документ на проведение эксгумации, свидетельство о том, что есть место для перезахоронения,
разрешающий документ санитарно-эпидемиологической службы, паспорт захоронения.<br>

  <br>
  <br>


<strong>Поминальная трапеза<br>Цена от 2000 руб.</strong>
  <br>
После смерти человека близкие переживают утрату, заниматься организационными вопросами, касающимися похорон, в этот период сложно.<br>
Поминальная трапеза – традиция, проводится сразу после погребения. Поминки проводят либо дома, либо в кафе. В первом случае необходимо успеть все приготовить,
во втором – найти подходящее для трапезы место. Ритуальное агентство «Новосибирск Ритуал» готово помочь вам организовать поминки так,
чтобы вы затратили на них как можно меньше сил и средств.<br>
<br>
При необходимости мы сможем организовать также доставку вам на дом традиционных поминальных блюд.<br>
<br>
	Поминальное меню, стоимость организации поминок:<br>
<strong>Cтоимость 600 руб с чел<br></strong>
- Оладьи, мёд<br>
- Кутья<br>
- Салат из капусты в маринаде<br>
- Салат оливье<br>
- Рыба жаренная (минтай)<br>
- Котлета домашняя, мясная<br>
- Курица запечённая<br>
- Пюре<br>
- Хлеб<br>
<br>
  <br>
<strong>Cтоимость 650 руб с чел<br></strong>
- Оладьи, мёд<br>
- Кутья<br>
- Салат столичный<br>
- Винегрет<br>
- Рыба в кляре (хек)<br>
- Голубцы ленивые с маринованными овощами<br>
- Куриная отбивная с грибами<br>
- Пюре<br>
- Хлеб<br>
<br>
  <br>
 <strong>Почему лучше заказать услуги похоронного бюро</strong><br>
Ритуальный агент поможет вам арендовать кафе в любом районе города Новосибирска, позаботится о поминальном меню,
проследит чтобы трапеза прошла в соответствующей обстановке. При необходимости учтет возможность провести мероприятие со своим спиртным.<br>
<br>
- предоставим для поминок банкетный зал;<br>
- предоставим стол и необходимое число мест;<br>
- блюда приготовим, пока вы хороните умершего;<br>
- накроем стол в указанное время;<br>
- предоставим официантов;<br>
- нет временных ограничений;<br>
- осуществим доставку всех блюд и напитков на дом.<br>
После поминальной трапезы в банкетном зале вам не придется проводить уборку и мыть посуду, вы спокойно пойдете домой.<br>
<br>
<strong>Как мы готовим поминки<br></strong>
При организации поминальной трапезы мы исходим из ваших возможностей и пожеланий. Стоимость услуги обговаривается заранее,
поминальное меню вы составляете совместно с похоронным агентом, указываете примерное число человек.<br>
Помянуть покойного может прийти любой человек по традиции, поэтому мы учитываем и возможную потребность в дополнительных местах.<br>
Если вы решите проводить поминки дома, то мы доставим вам блюда и напитки в указанное время.<br>



{% endblock content %}





